{% extends './base.html' %}

{% load static %}

{% block content %}

<link rel="stylesheet" href="">

<div class="container2">
    <h1>Actualizar</h1>
    <form action="{% url 'actualizarrec' pro.id %}" method="post">
        {% csrf_token %}
        <label for="">Nombre</label><br><br>
        <input type="text" name="nombre" value="{{pro.nombre}}"><br><br>
        <label for="">Modelo</label><br><br>
        <input type="text" name="modelo" value="{{pro.modelo}}"><br><br>
        <label for="">Marca</label><br><br>
        <input type="text" name="marca" value="{{pro.marca}}"><br><br>
        <label for="">Precio</label><br><br>
        <input type="text" name="precio" value="{{pro.precio}}"><br><br>
        <button type="submit" id="new1">Actualizar</button>
    </form>

</div>

{% endblock %}