{% extends './base.html' %}

{% load static %}

{% block content %}

<link rel="stylesheet" href="">

<div class="container1">
    <h1>Agregar Producto</h1>
    <form action="{% url 'agregarrec' %}" method="post">
        {% csrf_token %}
        <label for="">Nombre</label><br><br>
        <input type="text" name="nombre"><br><br>
        <label for="">Modelo</label><br><br>
        <input type="text" name="modelo"><br><br>
        <label for="">Marca</label><br><br>
        <input type="text" name="marca"><br><br>
        <label for="">Precio</label><br><br>
        <input type="text" name="precio"><br><br>
        <button type="submit" id="new">Agregar</button>
    </form>
</div>

{% endblock %}